/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */

html,
body {
	font-family: "Source Sans Pro","Helvetica Neue",Arial,sans-serif;
	font-size: 1.1rem;
	font-weight: 600;
	line-height: 1.5em;


}

button {
	font-family: "Source Sans Pro","Helvetica Neue",Arial,sans-serif;
}

/*  Navigation */
.navbar-brand > img {
	max-height: 40px;
	width: auto;
}

.navbar-light .navbar-toggler {
	border: 0;
	right:  0;
}

.navbar-light .navbar-nav .nav-link {
	color: #292b2c;
	font-weight: 600;
	text-transform: uppercase;

	/*  Challenge: can you make the navigation links orange on hover? */
}

/* Buttons */
/* INSERT BUTTON STYLES HERE */


/* Alert */
.alert {
	position: relative;
	margin-top: 2em;
	margin-bottom: 3em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid #dccdc6;
	border-radius: 0;
	font-size: 0.85rem;
	line-height: 1.3em;
	background: transparent;
	color: #292b2c;
}

.alert:before {
	content: '';
	position: absolute;
	left: -1px;
	top: 0;
	height: 100%;
	width: 1px;
	background: #ce5f31;
}

/* Jumbotron */
.jumbotron {
	border-radius: 0;
	
		background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(128, 128, 128, 0.5) ), url(../images/header-bike.jpg);
    border-radius: 0;
    color: rgb(250, 250, 250);

}

/* Headings */
.heading-underline {
	position: relative;
	margin-bottom: 2em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #dccdc6;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

.heading-underline:before {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 25%;
	height: 1px;
	max-width: 100px;
	background: #ce5f31;
}

/* Article */
.article {
	margin-bottom: 2em;
}

.article__title {
	margin-bottom: 0.5em;
	font-weight: 700;
}

.article__read-more a {
	font-size: 0.85em;
	font-weight: 700;
	text-decoration: uppercase;
}

.article__read-more a:hover,
.article__read-more a:focus {
	text-decoration: none;
}

.article__read-more .fa {
	margin-right: 0.5em;
	color: #ce5f31;
}

.article__read-more:last-child {
	margin-bottom: 0;
}
.container{
	margin: 1rem auto;
	width: auto;
	max-width: 100%;
	padding: 2rem 0;
	box-sizing: border-box;
	border: 1px solid #999;
	}

	

	p{
		margin-top: 0;
		margin-bottom: 1rem;
	}
	p {
		display: block;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}
/* sudebar images */
.img-fluid{
	float: left;
	height: 90px;
	width: 90px;
	margin-right: 10px;
}
.img-fluid{
	max-width: 100%;
}
img {
    vertical-align: middle;
}
img {
    border-style: none;
}

.boxes{
	display: flex;
	justify-content: space-around;
}
.boxes div{
	box-sizing: border-box;
	border: 1px solid #666;
	padding: 1rem;
	text-align: center;
	background-color: #dfdfdf;
	width: 28%;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Footer */
.footer {
	margin-top: 4em;
}

.footer p {
	border-top: 1px solid #dccdc6;
	padding-top: 2em;
	padding-bottom: 2em;
}

/* Media queries */

@media screen and (min-width: 992px) {

	.navbar-brand > img {
	   max-height: 80px;
	}
}

@media (max-width: 700px){
	.boxes {
		flex-wrap: wrap;
	}
@media (max-width: 320px) {
	.boxes{
		display: block;
	}
	@media (min-width: 576px){
     .jumbotron {
    padding: 4rem 2rem;
}
	}
}}